{% extends 'index.html' %}


{% block content %}
<div class="content-detail">
<div class="img-detail">
   <img class="img-d" src="{{instance.img_big.url}}">
    <div class="detail">
            Description: {{instance.desc}} <br>
            Upload date: {{instance.upload_date.now}} <br>
            Size: {{instance.img.size}} Bytes <br>
            Dimensions: {{instance.img.width}} x {{instance.img.height}} pixels <br>
            View count: {{instance.view_count}} <br>
            Like count: {{instance.like_count}} <br>
            Image owner: {{owner}} <br>
            <form action="" method="POST">
               {% csrf_token %}
             <p><input class="btn" type='submit' value="Like"></p>
            </form>
    </div>
    </div>
    </div>
{% endblock %}

