{% load static %}
<!DOCTYPE html>
<html>
 <head>
  <title>Image Uploader</title>
     <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css"%}">
 <!--    <style>
  div {
    padding: 10px;
    color: #fff;
    background-color: #dee8f7;
   }
   img {
   display: inline-block;
   }
   form {
    height: 120px;
    width: 220px;
   }
  </style> -->
 </head>
 <body>
 <div class="top-bar">
 <section class="right">
  <ul class="right">
    {% if username %}
       <li><a href="/auth/logout/">Выйти ({{ username }})</a></li>
	{% else %}
	    <li><a href="/auth/login/">Войти</a></li>
	{% endif %}
   </ul>
  </section>
</div>
     <form class="row" enctype="multipart/form-data" method="post" action="">
         {{ form.as_p }}
         {% csrf_token %}
         <input type='submit' value="Upload">
     </form>


     <div class="row">
{% for i in latest %}
    <a href="{{i.get_absolute_url}}"><img class="row" src="{{i.img_medium.url}}"></a>
{% endfor %}
         </div>
     <div class="row"><a href="/popular">To Popular</a></div>
    <div class="row"><a href="/toplikes">To TopLikes</a></div>
 {% block login %}{% endblock %}
 </body>
</html>

