<!DOCTYPE html>
{% load staticfiles %}
<html>

 <head>
     <title>{% block title %}Image Uploader{% endblock %}</title>
     <link href="{% static 'css/bred.css' %}" rel="stylesheet" type="text/css" >
     <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
 </head>

 <body>
 <div id="header">
     <div class="inline upload">
        <form enctype="multipart/form-data" method="post" action="/" >
        {% csrf_token %}
        <input id="id_img" name="img" type="file" title="hello" multiple required accept="image/jpeg,image/png,image/gif" />
        <input id="id_desc" maxlength="120" placeholder="Описание" name="desc" type="text"/>
        <input type='submit' value="Загрузить">
        </form>
    </div>


     <div class="inline login">
       {% if username %}
           <a href="/auth/profile">Профиль ({{ username }})</a>
           <a href="/auth/logout/">Выйти</a>
       {% else %}
       <form style="display:inline-block;" action="/auth/login/" method="POST">
          {% csrf_token %}
         <input type="text" name="username" id="username" placeholder="Логин">
         <input type="password" name="password" id="password" placeholder="Пароль">
         {% if login_error %}
         <label class="error">{{login_error}}</label>
         {% endif %}
         <input type="submit" value="Войти">
         </form>
       {% endif %}
     <ul class="register">
       <li><span><a href="/auth/register/">Регистрация</a></span></li>
     </ul>
      </div>


 </div>


<div class="links">
    <ul class="main-menu">
 <li><a href="/"><span>Главная</span></a></li>
 <li><a href="/popular"><span>Популярные</span></a></li>
 <li><a href="/toplikes"><span>ТОП Лайк</span></a></li>
    </ul>
</div>

<br>

 {% block content %}

  <div class="content">

    {% for i in latest %}
         <a href="{{i.get_absolute_url}}">
         <img class="img" src="{{i.img_medium.url}}">
         </a>
    {% endfor %}

  </div>

{% endblock %}

 {% block footer %}
  <div class="footer"><i>Powered by br3d with python/Django</i></div>
 {% endblock %}

 </body>
</html>


