<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uploaded image</title>
</head>
    <body>
        <div>
        <img src="{{instance.img.url}}"/>
        </div>
        <div>
            <ul>
            <li>Description: {{instance.desc}}</li>
            <li>Upload date: {{instance.upload_date.now}}</li>
            <li>Size: {{instance.img.size}} Bytes</li>
            <li>Dimensions: {{instance.img.width}} x {{instance.img.height}} pixels</li>
            <li>View count: {{instance.view_count}}</li>
        </ul>
        </div>
    </body>
</html>