{% extends 'index.html' %}
{% load staticfiles %}

{% block content %}
<div class="ssid-detail-container">
<img width="256px" height="256px" src="{% static 'images/wifidevice.png' %}">
<form action="/">
<ul class="ssid-detail-list">
<li><label for="name">Name: </label><input style="width:120px;margin-left:auto;margin-right:auto;margin-bottom:5px;" type="text" id="name" name="name"	 required></li>
<li><label for="vendor">Vendor: </label>
<select id='vendor' name="vendor" multiple>
    {% for i in vendor_queryset %}
          <option>{{ i.name }}</option>
    {% endfor %}
      </select>
  </li>
 <li style="display:inline"><label for="device">Device: </label>
<select id='device' name="device" multiple>
    {% for i in device_queryset %}
          <option>{{ i.hostname }} ({{ i.name }})</option>
    {% endfor %}
      </select>
 </li>

  <li><label for="server">Server: </label>
  <select id='server' name="server">
      {% for i in server_queryset %}
          <option>{{ i.name }}</option>
  {% endfor %}
  </select>

  </li>
</ul>
<input type="button" value='add' id="Add" onClick="add()" />
</form>
<input class="link-to-main" type="button" onclick="location.href='/';"/>
</div>


<script language="JavaScript">
function run() {
    name=document.getElementById('name').value;
    console.log('name='+name);
}
</script>
{% endblock %}