{% extends 'index.html' %}
{% load staticfiles %}

{% block content %}
<div class="ssid-detail-container">
<img width="256px" height="256px" src="{% static 'images/wifidevice.png' %}">
<form action="/">
<ul class="ssid-detail-list">
<li><label for="name">Name: </label><input style="width:120px;margin-left:auto;margin-right:auto;margin-bottom:5px;" type="text" id="name" name="name"	 required></li>
<li><label for="vendor">Vendor: </label>
<select id='vendor' name="vendor" multiple >
    {% for i in vendor_queryset %}
          <option>{{ i.name }}</option>
    {% endfor %}
      </select>
  </li>
 <li style="display:inline"><label for="device">Device: </label>
<select id='device' name="device" multiple>
    {% for i in device_queryset %}
          <option value={{ i.name }}>{{ i.hostname }} ({{ i.name }})</option>
    {% endfor %}
      </select>
 </li>

  <li><label for="server">Server: </label>
  <select id='server' name="server">
      {% for i in server_queryset %}
          <option>{{ i.name }}</option>
  {% endfor %}
  </select>

  </li>
</ul>
<input type="button" value='add' id="Add" onClick="add()" />
{% csrf_token %}
</form>
<input class="link-to-main" type="button" onclick="location.href='/';"/>
</div>

{{ ssid_name }}
{{ ssid_device }}
{{ ssid_server }}
{{ ssid_vendor }}

<script language="JavaScript">
function add() {
    var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
    name=document.getElementById('name').value;
    vendor = document.getElementById('vendor');
    vendor_selected_values = []
    device_selected_values=[]
    server=document.getElementById('server').value;
    for ( var i = 0; i < vendor.selectedOptions.length; i++) {
    vendor_selected_values.push(vendor.selectedOptions[i].value)
}
    for ( var i = 0; i < device.selectedOptions.length; i++) {
    device_selected_values.push(device.selectedOptions[i].value)
}
    console.log('name='+name+' '+'vendor='+vendor_selected_values+'device='+device_selected_values+'server='+server);
    $.ajax({
            url : "/ssid_add/",
            type : "POST",
            data : { name : name, vendor,'csrfmiddlewaretoken': token,device:device,server:server }, // data sent with the post request

        // handle a successful response

            success : function(json) {
            console.log('Success')
            location.reload()
        },

        // handle a non-successful response
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    })
}

//function vendorlist(sel){
//alert(sel.options[sel.selectedIndex].text);
//}

</script>
{% endblock %}