{% extends 'index.html' %}
{% load staticfiles %}

{% block content %}
<div class="ssid-add-container">
<img width="256px" height="256px" src="{% static 'images/wifidevice.png' %}">
<form action="/">

<ul class="ssid-detail-list">
<li><label for="name">Name: </label><input style="width:120px;margin-left:auto;margin-right:auto;margin-bottom:5px;" pattern="[A-Za-z1-9]+" type="text" id="name" name="name"	 required></li>
<li><span id="wrchar" style="display:none;color:red;">Enter correct ssid name: ssid1,ssid2</span></li>





<li id="vendor_li"><label for="vendor">Devices: </label>
<select size="7" id='vendor' name="vendor" multiple >
   {% for i in vendor_queryset %}
    <optgroup label={{ i.name }}>
        {% for j in device_queryset %}
             {% if j.vendor.name == i.name %}
                  <option value={{ j.name }}>{{ j.hostname }} ({{ j.name }})</option>
             {% endif %}
        {% endfor %}
    </optgroup>
    {% endfor %}

</select>
</li>

<!--

<li><label for="custom_device">Select custom devices</label><input type="checkbox" id="custom_device" name="custom" onclick="customDevice(this)"></li>

<li id="device_li" style="display: none"><label for="device">Device: </label>
<select size="7" id='device' name="device" multiple>
    <option disabled selected value>None</option>
    {% for i in device_queryset %}
          <option value={{ i.name }}>{{ i.vendor }} - {{ i.hostname }} ({{ i.name }})</option>
    {% endfor %}
      </select>
 </li>

-->
  <li><label for="server">Server: </label>
  <select id='server' name="server">
  <option disabled selected value></option>
      {% for i in server_queryset %}
          <option value={{ i.name }}>{{ i.name }} ({{ i.ip }})</option>
      {% endfor %}
  </select>

  </li>
<li><label for="custom_server">Custom server</label><input type="checkbox" id="custom_server" name="custom" onclick="customServer(this)"></li>
<ul id="custom_server_ul" style="display: none; padding-left: 0; list-style-type:none ;">
<li><label for="name">Hostname: </label><input style="width:120px;margin-left:auto;margin-right:auto;margin-bottom:5px;" type="text" id="custom_server_name" name="custom_server_name"	 required></li>
<li><span id="wrcharhostname" style="display:none;color:red;">Server name is not resolvable or incorrect</span></li>
<!--<li><label for="name">IP: </label><input style="width:120px;margin-left:auto;margin-right:auto;margin-bottom:5px;" type="text" id="custom_server_ip" name="custom_server_ip"	 required></li>
<li><span id="wrcharip" style="display:none;color:red;">Enter correct ssid name: ssid1,ssid2</span></li> -->
</ul>
  <li><label for="group">Group: </label>
<select size="5" id='group' name="group" multiple >
      {% for i in group_queryset %}
          <option value={{ i.name }}>{{ i.name }}</option>
      {% endfor %}
  </select>
  </li>
</ul>
<input type="button" value='add' id="Add" onClick="add()" /> <br>
<span id="novalues" style="display:none;color:red;list-style-type: none">Please select required values: Name,Vendor(or device),Server,Group</span>
{% csrf_token %}
</form>
<input class="link-to-main" type="button" onclick="location.href='/';"/>
</div>

{{ ssid_name }}
{{ ssid_device }}
{{ ssid_server }}
{{ ssid_vendor }}

<script language="JavaScript">
function add() {
    var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
    name = validateName()
    //name=document.getElementById('name').value;
    vendor = document.getElementById('vendor');
    group=document.getElementById('group');
    vendor_selected_values = []
    device_selected_values = []
    server=validateCustomServerName()
    //server = document.getElementById('server').value;
    //custom_server_name=document.getElementById('custom_server_name').value;
    //custom_server_ip = document.getElementById('custom_server_ip').value;
    for (var i = 0; i < vendor.selectedOptions.length; i++) {
        vendor_selected_values.push(vendor.selectedOptions[i].value)
    }
    for (var i = 0; i < device.selectedOptions.length; i++) {
        device_selected_values.push(device.selectedOptions[i].value)
    }
    console.log('name=' + name + ' ' + 'vendor=' + vendor_selected_values + 'device=' + device_selected_values + 'server=' + server);
    if (name.length > null && server.length > null && group.length > null) {
        console.log('Sending ajax')
     $.ajax({
            url : "/ssid_add/",
            type : "POST",
            data : { name : name, vendor:JSON.stringify(vendor_selected_values),'csrfmiddlewaretoken': token,device:JSON.stringify(device_selected_values),server:server,auth_scheme:auth_scheme }, // data sent with the post request

        // handle a successful response

            success : function(json) {
            console.log(json.ssid_server_ip)
            if (json.ssid_server_ip !== undefined) {
                $("#wrcharhostname").fadeIn("slow").delay( 2000 ).fadeOut("slow");
            }
            else {
                console.log('Success')
            }

            //location.reload()
        },

        // handle a non-successful response
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    })
}
     else {
        console.log('Enter correct name or server values')
        $('#novalues').fadeIn("slow").delay( 2000 ).fadeOut("slow");

    }
}

function customDevice(element) {
    if (element.checked){
        //$("#vendor_li").css('display','none');
        $("#vendor > option").attr('disabled',true);
        $("#vendor > option").prop("selected", false);
        $("#vendor > option:first-child").prop("selected", true);
        $("#device_li").css('display','block');
    }
    else {
        //$("#vendor_li").css('display','block');
        $("#vendor > option").attr('disabled',false);
        $("#device_li").css('display','none');
    }
}

function customServer(element) {
    if (element.checked){
        $("#server > option").attr('disabled',true);
        $("#server > option:first-child").prop("selected", true);
        $("#server").prop('id','server1');
        $("#custom_server_ul").css('display','block');
        $("#custom_server_name").prop('id','server');

    }
    else {
        $("#server").prop('id','custom_server_name');
        $("#server1").prop('id','server');
        $("#server > option").attr('disabled',false);
        $("#custom_server_ul").css('display','none');
    }
}

function validateName(){
    var TCode = document.getElementById('name').value;

    if( /[^a-zA-Z0-9\,\_\-\;\|\/]/.test( TCode ) ) {
        $('#name').css('border','red solid 1px ');
        $("#wrchar").fadeIn("slow").delay( 2000 ).fadeOut("slow");
       // $('#name').css('border','');
        return '';
    }

    return TCode;
}

function validateCustomServerName() {

    var TCode = document.getElementById('server').value;
    if( /^[^a-zA-Z0-9\.]/.test( TCode )) {
        $('#custom_server_name').css('border','red solid 1px ');
        $("#wrcharhostname").fadeIn("slow").delay( 2000 ).fadeOut("slow");
       // $('#name').css('border','');
        return '';
    }

    return TCode;


}

function validateCustomServerIP() {

    var TCode = document.getElementById('custom_server_ip').value;
    if( /[^0-9\.]/.test( TCode ) ) {
        $('#custom_server_ip').css('border','red solid 1px ');
        $("#wrcharip").fadeIn("slow").delay( 2000 ).fadeOut("slow");
       // $('#name').css('border','');
        return '';
    }

    return TCode;


}


//$('#custom').checkbox
//function vendorlist(sel){
//alert(sel.options[sel.selectedIndex].text);
//}

</script>
{% endblock %}