{% extends 'index.html' %}
{% load staticfiles %}

{% block content %}
<div class="ssid-detail-container">
<img width="256px" height="256px" src="{% static 'images/wifidevice.png' %}">
<ul class="ssid-detail-list">
<li><span style="font-weight: bold">Name:       </span>{{ instance.name }}<br></li>
<li><span style="font-weight: bold">Radius ip:  </span>{{ instance.web.ip }}</li>
<li><span style="font-weight: bold">WEB server: </span><a target="_blank" href="http://{{ instance.web.name }}">{{ instance.web.name }}</a></li>
<li><span style="font-weight: bold">Vendor:     </span>{{ instance.vendor.name }}</li>
<li><span style="font-weight: bold">Device ip:  </span>{{ instance.ip.name }}</li>
<li><span style="font-weight: bold">Device mac: </span>{{ instance.ap_mac }}</li>
{% if instance.status %}
<li><span style="font-weight: bold">SSID status: </span>up</li>
<li id="r"><span style="font-weight: bold">Remaining UP time: </span></li>
{% else %}
<li><span style="font-weight: bold">SSID status: </span>down</li>
{% endif %}
</ul>
<input class="link-to-main" type="button" onclick="location.href='/';"/>
</div>


<script language="JavaScript">
{% autoescape off %}
time={{ instance.remaining_time }},
{% endautoescape %}
r=document.getElementById('r'),tmp=time;
countdown_timer = setInterval(function(){
var c=time--,m=(c/60)>>0,s=(c-m*60)+'';
r.textContent='Remaining UP time: '+m+':'+(s.length>1?'':'0')+s
tmp!=0||(tmp=time);
if (time===0) {
clearInterval(countdown_timer)
location.reload();
}
},1000);

</script>
{% endblock %}