{% extends 'index.html' %}
{% load staticfiles %}

{% block content %}
<div class="ssid-detail-container">
<ul class="ssid-detail-list">
<li><img width="256px" height="256px" src="{% static 'images/wifidevice.png' %}"></li>
<li>Name: {{ instance.name }}<br></li>
<li>Radius server ip: {{ instance.web.ip }}</li>
<li>WEB server: <a target="_blank" href="http://{{ instance.web.name }}">{{ instance.web.name }}</a></li>
<li>Vendor: {{ instance.vendor.name }}</li>
<li>Device ip: {{ instance.ip.name }}</li>
<li>Device mac: {{ instance.ap_mac }}</li>
{% if instance.status %}
<li>SSID status: up</li>
<li id="r">Remaining UP time: </li>
{% else %}
<li>SSID status: down</li>
{% endif %}
</ul>
<a href="/">To Main</a>
</div>


<script language="JavaScript">
{% autoescape off %}
time={{ instance.remaining_time }},
{% endautoescape %}
r=document.getElementById('r'),tmp=time;
countdown_timer = setInterval(function(){
var c=time--,m=(c/60)>>0,s=(c-m*60)+'';
r.textContent='Remaining UP time: '+m+':'+(s.length>1?'':'0')+s
tmp!=0||(tmp=time);
if (time===0) {
clearInterval(countdown_timer)
location.reload();
}
},1000);

</script>
{% endblock %}