<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>SSID SWITCHER</title>
    <meta charset="utf-8">
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'bred.css' %}" rel="stylesheet" type="text/css" >
    <script src="{% static 'jquery-3.1.1.min.js'%}"></script>
	<link rel="icon" href="{% static 'images/wifi.png' %}" type="image/x-icon">
	<link rel="shortcut icon" href="{% static 'images/wifi.png' %}" type="image/x-icon">
 <!--   <script src="{% static 'main.js'%}"></script> -->
   <!-- <meta http-equiv="refresh" content="120"> -->
</head>

<body>


{% if username %}

 <div id="header">
  <div class="login_form">
    <!--<a href="/profile" style="color: black;"><img width="30px" height="30px" src="{% static 'images/person.png' %}"></a> -->
    <button class="profile_btn" onclick="location.href='/profile'" type="button" ></button>
      {% if user_object.is_staff %}
     <button class="admin_btn" onclick="location.href='/admin/'" type="button"></button>
    {% endif %}
    <button class="logout_btn" onclick="location.href='/auth/logout/'" type="button"></button>
  </div>
 </div>


{% block content %}
 <div class="big-container">
<!--<div class="title"><p class="pulsate">Select server...</p></div> -->
 <label class="switch">
	<input class="switch-input" type="checkbox" onclick="change_view(this)"/>
	<span class="switch-label" data-on="Server" data-off="Vendor"></span>
	<span class="switch-handle"></span>
 </label>
 <a href="ssid_add/">Add</a>

     <div class="big">
     {% for i,k in servers_enum %}
          <div class="server_column">
              {% for n in k %}
                  <div class="panel">
                      {% if n in servers_with_up_ssids %}
                      <button class="accordion act">{{ n }}</button>
                      {% else %}
                      <button class="accordion pasv">{{ n }}</button>
                      {% endif %}
                      <ul class="inside">
                            <li style="margin-bottom: 5px;"><a target="_blank" style="color:red;font-size: 14px;text-decoration: underline;" href="http://{{ n }}">http://{{ n }}</a></li>
                            <li><input type="checkbox" onclick="SelectAll(this)"/>Select all</li>
                            {% for j in all_group_ssids %}
                                {% if j.web.name == n %}
                                    {% if j.name in ssids_busy %}
                                        {% if j.status %}
                                            <li><input type="checkbox" id="{{ j.name }}" name='ssid' value="{{ j.name }}" disabled checked onclick="update_ssidlist(this)"/><a style="text-decoration: none;color:red" href="/ssid/{{ j.name }}"><span class="{{ j.name }}">{{ j.name }} - Busy </span></a></li>
                                        {% else %}
                                            <li><input type="checkbox" id="{{ j.name }}" name='ssid' value="{{ j.name }}" disabled onclick="update_ssidlist(this)"/><a style="text-decoration: none;color:red" href="/ssid/{{ j.name }}"><span class="{{ j.name }}">{{ j.name }} - Busy </span></a><br></li>
                                        {% endif %}
                                    {% else %}
                                        {% if j.status %}
                                            <li><input type="checkbox" id="{{ j.name }}" name='ssid' value="{{ j.name }}"  checked onclick="update_ssidlist(this)"/><a style="text-decoration: none;color:black" href="/ssid/{{ j.name }}"><span class="{{ j.name }}">{{ j.name }}</span></a></li>
                                        {% else %}
                                        <li><input type="checkbox" id="{{ j.name }}" name='ssid' value="{{ j.name }}"  onclick="update_ssidlist(this)"/><a style="text-decoration: none;color:black" href="/ssid/{{ j.name }}"><span class="{{ j.name }}">{{ j.name }}  </span></a><br></li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                     </ul>
               </div>
              {% endfor %}
          </div>
     {% endfor %}
</div>


    <div class="big-vendor">

     {% for i,k in vendors_enum %}
          <div class="server_column">
              {% for n in k %}
                  <div class="panel">
                      {% if n in vendors_with_up_ssids %}
                      <button class="accordion act">{{ n }}</button>
                      {% else %}
                      <button class="accordion pasv">{{ n }}</button>
                      {% endif %}
                      <ul class="inside">
                            <li><input type="checkbox" onclick="SelectAll(this)"/>Select all</li>
                            {% for j in all_group_ssids %}
                                {% if j.vendor.name == n %}
                                    {% if j.name in ssids_busy %}
                                        {% if j.status %}
                                            <li><input type="checkbox" id="{{ j.name }}" name='ssid' value="{{ j.name }}" disabled checked onclick="update_ssidlist(this)"/><a style="text-decoration: none;color:red" href="/ssid/{{ j.name }}"><span class="{{ j.name }}">{{ j.name }} - Busy </span></a></li>
                                        {% else %}
                                            <li><input type="checkbox" id="{{ j.name }}" name='ssid' value="{{ j.name }}" disabled onclick="update_ssidlist(this)"/><a style="text-decoration: none;color:red" href="/ssid/{{ j.name }}"><span class="{{ j.name }}">{{ j.name }} - Busy </span></a><br></li>
                                        {% endif %}
                                    {% else %}
                                        {% if j.status %}
                                            <li><input type="checkbox" id="{{ j.name }}" name='ssid' value="{{ j.name }}"  checked onclick="update_ssidlist(this)"/><a style="text-decoration: none;color:black" href="/ssid/{{ j.name }}"><span class="{{ j.name }}">{{ j.name }}</span></a></li>
                                        {% else %}
                                            <li><input type="checkbox" id="{{ j.name }}" name='ssid' value="{{ j.name }}"  onclick="update_ssidlist(this)"/><a style="text-decoration: none;color:black" href="/ssid/{{ j.name }}"><span class="{{ j.name }}">{{ j.name }}  </span></a><br></li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                     </ul>
               </div>
              {% endfor %}
          </div>
     {% endfor %}


</div>
<!--Footer part -->
<div class="footer">
<input type="checkbox" name="Timer" style= "margin-left:auto;margin-right:auto;display: none;text-align: center;margin-bottom:5px; " id="timercheckbox" onclick="update_timer(this)">
<label style="margin-left:auto;margin-right:auto;display: none;text-align: center;margin-bottom:5px;" id="time_label" for="timercheckbox">Timer (in minutes):</label>
<input style="width:120px;margin-left:auto;margin-right:auto;display: none;text-align: center;margin-bottom:5px;" type="text" id="timer" placeholder="default 30 minutes" name="timer" maxlength="3" required>
<!--<input style="margin-left:auto;margin-right:auto;width:100px;color:red;font-size:18px;font-weight:bold;display:none;border-radius: 30px;text-align: center;" type="button" id="Run" onClick="run()" value="Run"/<>-->
<input type="button" id="Run" onClick="run()" />
    {% csrf_token %}

<img id="loading" src="{% static 'InternetSlowdown_Day.gif' %}" style="width:60px;height:60px;display: none;">
<div id="success" style="display: none;color:green;font-size: 26px; ">Success</div>
<span style="display: none;color: red;font-size: 16px;" id="no_one_chosen">Please, choose at least one ssid</span>
<div id="errors" style="display: none;color: red;font-size: 18px"></div>

</div>
</div>




<script language="JavaScript">


function SelectAll(ssid_list) {
    if (ssid_list.checked) {
    //$('ul').find(':checkbox').not(':checked').prop("checked");
    //$(ssid_list).find(':checkbox:not(checked)').prop('checked',true)
    $(ssid_list).closest('.panel').find(':checkbox:not(checked)').click().prop('checked',true)
        //console.log('UP_NEW: ',up_new,'DOWN NEW: ',down_new)

}
else {
    //$('ul').find(':checkbox').(':checked').prop( "checked", false );
   //$('ul').find(':checkbox:checked').prop('checked',false)
    $(ssid_list).closest('.panel').find(':checkbox:checked').prop('checked',true).click()
    //console.log('UP_NEW: ',up_new,'DOWN NEW: ',down_new)
    }
}


//accordion popup buttons
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "table") {
            panel.style.display = "none";
        } else {
            panel.style.display = "table";
        }
    }
}





//mouseleave
$(document).ready(function(){
 $('span').not(".switch-label").mouseenter(function(){
        $(this).fadeTo('fast', 0.5);
   });
$('span').not(".switch-label").mouseleave(function(){
        $(this).fadeTo('fast', 1);
    })
});

//Toggle view
function change_view(toggle) {
 if (toggle.checked){
        $(".big").css("display","none");
        $(".big-vendor").css("display","block")
        $("#Run,#time_label,#timercheckbox").css("display","none")
    }
    else {
        $(".big-vendor").css("display","none");
        $(".big").css("display","block");
        $("#Run,#time_label,#timercheckbox").css("display","none")
    }
}



//Timer settings
function update_timer(timer) {
    if (timer.checked){
        //console.log('Timer is checked')
        $("#timer").css('display','block');
    }
    else {
        //console.log('Timer is unchecked')
        $("#timer").css("display","none")
    }
}

timer=30
//timer value
$('#timer').keyup(function () {
    if (this.value.match(/[0-9]{1,3}/)) {
        timer = this.value
        if (timer > 360) {timer = 360}
        console.log('Timer inside function='+timer)}
    else {
        this.value = this.value.replace(/[^0-9]/g, '')
        }
});

//$( "#timer" ).keyup(function() {
//    timer = $( this ).val()})


{% autoescape off %}
ssidlist={{ all_up_ssids }}
{% endautoescape %}



up_new=[];
down_new=[];
ip=[]
ssid_status=[]
ssid_error=[]


/*

//Check if ssid is busy
$(document).ready(function(){
    {% autoescape off %}
    c={{ ssids_busy }}
    {% endautoescape %}

  if (c.length > null){

check_busy =  setInterval( function(){
               $.get("/ssid_busy/", function(data) {
                   console.log('Check busy is working')
                   data = data.ssid_busy_list
                   //console.log(data, typeof(data), data.length)
                   if (data.length === 0){
                       console.log('All SSIDs are free')
                       clearInterval(check_busy)
                       location.reload()
                   }
               })},1000);

  }})
*/

//update ssid_list
    function update_ssidlist(ssid) {
    //$('span.'+ssid.id).animate({opacity: 1}, 700 );
    //console.log('Working')
    ip.push(ssid.name)
    if (ssid.checked) {
        if (!ssidlist.includes(ssid.id)) {
            $('span.'+ssid.id).css({color:'green',opacity: 0.2}).animate({opacity: 1}, 700 );
            up_new.push(ssid.id)
            //ip.push(ssid.ip)
            $('#Run').css('display','block');
            $('#time_label,#timercheckbox').css('display','inline-block');
            //web_server=ssid.
            //$("button:contains(ssid.web)").css('color','lightgreen');
        }
        else {
            index = down_new.indexOf(String(ssid.id));
            down_new.splice(index, 1);
            //$('span.'+ssid.id).append( "<strong style='color:red'>  <--Already ENABLED</strong>" );
            $('span.'+ssid.id).css({color:'black',opacity: 0.2}).animate({opacity: 1}, 700 );
            console.log(ssid.id+' already UP ')
            //console.log(up_new.length,down_new.length)
            if (up_new.length === 0 && down_new.length === 0) {
            //$('#Run').css('display','block');
            $('#timer,#time_label,#timercheckbox,#errors,#Run').css('display','none');
     }
        }
}
     else {
        if (ssidlist.includes(ssid.id.toString())) {
            $('span.'+ssid.id).css({color:'red',opacity: 0.2}).animate({opacity: 1}, 700 );
            down_new.push(ssid.id)
            $('#Run').css('display','block');}

        else {
            index = up_new.indexOf(ssid.id);
            up_new.splice(index,1)
            //$('span.'+ssid.id).append( "<strong style='color:red'>  <--Already Disabled</strong>" );
            $('span.'+ssid.id).css({color:'black',opacity: 0.2}).animate({opacity: 1}, 700 );
            console.log(ssid.id+ " already DOWN ")
            //console.log(up_new.length,down_new.length)
        if (up_new.length === 0 && down_new.length === 0) {
            $('#Run').css('display','none')}
        if (up_new.length==0) {
                $('#timer,#time_label,#timercheckbox').css('display','none');
            }

        }

    }
  //set= new Set(ip)
  //console.log("New Down: "+down_new+" New Up: "+up_new);
  }
/*
//Login
	 $("#login").click(function() {
         username = $("#username").val();
         password = $("#password").val();
         csrf = {% csrf_token %}
         $.ajax({
             type: "POST",
             url: "/auth/login/",
             data : { username : JSON.stringify(username), password:JSON.stringify(password),CSRF:csrf },
             success: function (html) {
                 window.location = "index.html"
             },
             error: function (xhr, errmsg, err) {
                 $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                         " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                 console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
             }

         });
     })
*/

//send data to backend
function run() {
    all_new=up_new+down_new
           if (all_new[0] != null) {
           interval=1000
           var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
           $("input[name='ssid']" ).attr('disabled', true);
           $("#Run,#timercheckbox,#time_label,#timer").css('display','none') ;
           $("#loading").css('display','inline-block');


    //console.log("Sending POST by ajax");
               //console.log('Timer='+timer)
            $.ajax({
            url : "ssid_update/",
            type : "POST",
            data : { up : JSON.stringify(up_new), down:JSON.stringify(down_new),'csrfmiddlewaretoken': token,timer:timer }, // data sent with the post request

        // handle a successful response

            success : function(json) {
            clearInterval(check_status)
            clearInterval(check_error)
            //clearInterval(check_busy)

            ssidlist=JSON.stringify(json.all_up_ssids)   //all this array is one string element
            for (var i=0, n=ssid_status.length;i<n;i++) {
                $( "span."+ssid_status[i] ).html(ssid_status[i]);
            }
            //console.log('length=',ssid_error.length)
                for (var i=0, n=ssid_error.length;i<n;i++) {
                //console.log('ssid_error=',ssid_error[i],i)
                $( "span."+ssid_error[i] ).html(ssid_error[i]);
            }
            timer=30
            if (ssid_error.length === 0) {
                //console.log('SSID_ERROR '+ssid_error)
            $("#success").fadeIn("slow").delay( 2000 ).fadeOut("slow");
            //window.setTimeout(function(){location.reload()},5000)
            //console.log('Success')
            }
            ssid_status=[]
            ssid_error=[]
            up_new=[]
            down_new=[]
            all_new=[]
            ip=[]
            $('#timer').val('');
            $("#loading").css('display','none');
            $("input[name='ssid']" ).attr('disabled', false);
            $('span').css({color:'black',opacity: 1});
            $("#Run,#timer,#time_label,#timercheckbox").fadeOut("slow");
            if (json.errors.length >null) {
                $('#errors').fadeIn("slow").html('Connection timeout: ' + json.errors+'<br><span style="color:black">ask NOC for details.</span>').delay(5000).fadeOut("slow")
                console.log('Connection timeout: ' + JSON.stringify(json.errors))
                window.setTimeout(function(){location.reload()},7000)
            }
        },

        // handle a non-successful response
            error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    })

               check_status =  setInterval( function(){
               $.get("/ssid_status/", function(data) {
                   data=data.ssid_status_list
                if (data.length > null){
                   for(var i=0, n=data.length;i<n;i++) {
                       //console.log(data[data.length-1]+' changed')
                       if (!ssid_status.includes(data[i])) {
                       $( "span."+data[i] ).html(data[i]+"<span style='color:blue'>  ok  </span>").fadeIn("slow");
                       ssid_status.push(data[i])
                       //console.log('SSID_STATUS='+ssid_status)
                       }
                       //else {console.log('Status already set')}
                       }}
                //else {console.log('Not ready')}
            });
 } , 1000)
/*
               check_error =  setInterval( function(){
               $.get("/ssid_error/", function(data) {
                   data=data.ssid_error_list
                if (data.length > null){
                   for(var i=0, n=data.length;i<n;i++) {
                       if (!ssid_error.includes(data[i])) {
                       $( "span."+data[i] ).html(data[i]+"<span style='color:red'>  fail  </span>").fadeIn("slow");
                       ssid_error.push(data[i])
                       }
                       //else {console.log('Status already set')}
                       }}
                //else {console.log('No errors')}
            });
 } , 1000)   */


               check_error =  setInterval( function(){
               $.get("/ssid_error/", function(data) {
                   if (Object.keys(data).length > 0) {
                       result = data.errors
                       //console.log(result)

                       for(var i in result) {
                           //console.log(result[i].name)
                          if (!ssid_error.includes(result[i].name)) {
                              for (j=0;j<result[i].name.length;j++ ) {
                               console.log(result[i].name[j])
                              //$('#errors').fadeIn("slow").html(result[i].name[j] + "<span style='color:red'>    " + result[i].error + "fail  </span>").delay(5000).fadeOut("slow")
                              //$("span." + result[i].name[j]).html(result[i].name[j] + "<span style='color:red'>  fail  </span>").fadeIn("slow");
                          }}
                          //window.setTimeout(function(){location.reload()},7000)}
                       ssid_error.push(result[i].name)
                       }
                   console.log('ssid_error',ssid_error.length)
                   }
                   //result = JSON.parse(data)
                   //console.log(typeof(result)+result)
                   //length = data.length();
                   //console.log(length)
                   //if (Object.keys(data).length > null){
                   //for(var i=0, n=data.length;i<n;i++) {
                   //    console.log(data[i])}


            });
 } , 1000)


               //console.log('Next one')
           }

else {
           $('#no_one_chosen').fadeIn("slow").delay( 1500 ).fadeOut("slow");
            console.log('No one ssid was chosen')
           }
}

</script>
{% endblock %}

{% else %}
<div id="login_container">
	<div id="form_container">
        <div class="login-text"><img width="256px" height="256px" src="{% static 'images/wifi.png' %}"><div style="position: relative;right: -220px;top:-55px" class="pulsate-led"><img height=14px width=14px src="{% static 'images/wifi-led.png' %}"></div></div>
		<form method='POST' action="/auth/login/" autocomplete="off">
            {% csrf_token %}
		<input type='text' onFocus="if(this.value=='Login')this.value=''" onblur="if(this.value=='')this.value='Login'" name='username' value='Login' class='text_input' />
		<input type='password' onFocus="if(this.value=='Password')this.value=''" onblur="if(this.value=='')this.value='Password'" name='password' value='Password' class='text_input' />
         {% if login_error %}
         <label class="error">{{login_error}}</label>
         {% endif %}
		<input type='submit' value='' id='login' name='login' />
		</form>
	</div>
</div>
{% endif %}

</body>
</html>