body {
  background-image: url('../content/grass1.jpg');
  background-attachment: fixed;
}

}


::-webkit-input-placeholder {color:darkgreen}
::-moz-placeholder          {color:darkgreen;}
:-moz-placeholder           {color:darkgreen;}
:-ms-input-placeholder      {color:darkgreen;}


#header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    width: 100%;
    background-color: rgba(50, 200, 0, 0.7);

}


.upload {
float:left;
}

.login {
 float:right;
 margin-right:10px;
}

.register {
    display: inline-block;
    margin:0;
    padding-left:20px;
}

.register span {
    position: relative;
    left: -5px;
}

.register a{
    text-decoration: underline;
}

.inline {
    display: inline-block;
    margin-top:5px;
    margin-bottom:5px;
    padding:5px 8px;
    border-radius: 15px;
    background-color: white;
}


input[type=text],input[type=password] {
background-color: lightgray;
border: none;
border-radius: 15px;
padding-left:15px;
width:100px;

}
input[type=submit] {
    border-radius: 15px;
    border-color: darkgreen;
    background-color: rgba(50, 200, 0, 0.7);
}
input[type=file] {
    cursor: pointer;
    border-radius: 15px;
    background-color: rgba(50, 200, 0, 0.7);
}

.footer {
  position: fixed;
  bottom: 0;
  color: #fff;
  width: 100%;
  height:3%;
  text-align: center;
  background: rgba(50, 200, 0, 0.7);
  left:0;
}

.img {
  border-radius:10px;
  border:none;
  margin: 10px;
  height:19%;
  width:19%;
}



.content {
    margin-top: 4%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    text-align: center;
    height:50%;


}
.links {
    position: fixed;
    top:20%;
    left:0;
    background: #39b54a;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

.main-menu {
    width:110px;
    list-style: none;
    padding:0;
    margin:0;
   }

.main-menu li {
    color: #0088cc;
    padding-left:15px;
    padding-bottom: 3px;
    padding-top:3px;
    border:1px solid black;
    background-color: rgba(50, 200, 0, 0.7);
}

.main-menu a {
    display: block;
    text-decoration: none;

}

.main-menu span {
    color:black;
    font-family: 'Arima Madurai', cursive;
    font-size: 14px;
}

.main-menu li:hover {
background-color:#f5f5f5;
}

.main-menu li:nth-child(1) {
    border-top-right-radius: 10px;
}

.main-menu li:nth-child(3) {
    border-bottom-right-radius: 10px;
}

i {
    margin:100px;
}



.img-detail {
    height:50%;
    width:50%;
    border-radius: 15px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

.detail {
    display: none;
}

.img-detail:hover .detail {
    display: inline;
    position	: absolute;
	left		: 0;
	bottom:0;
	width		: 35%;
    background-color: rgba(255, 255, 255, 0.5   );
    padding:3%;
    border-radius: 10px;
    height:35%;
}

.img-d {
    border-radius: 10px;
}

.content-detail {
    position:static;
    margin-top:4%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    height: 50%;
}