<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>SSID SWITCHER</title>
    <meta charset="utf-8">
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css" >
    <script src="{% static 'jquery-3.1.1.min.js'%}"></script>
   <!-- <script src="{% static 'main.js' %}"></script> -->

</head>

<body>


    {% for i in latest %}
        <input type="checkbox" id="{{ i.name }}" name="{{ i.name }}" value="up"
        {% if i.status %}
            checked
        {% endif %}
        >{{ i.name }}<br>
    {% endfor %}

<script>
$(document).ready(function(){
{% for i in all_js %}
    $('{{ i }}').change(function() {
 if($(this).is(':checked')){
            console.log("CCCCheckeddddddd");
       }
        else
            {
                console.log("UNCheckeddddddd");
}
    })
{% endfor %}
});

</script>
<!--
<div>POST-DATA: {{ data }}</div>
<div>ALL-LIST: {{ all_list }}</div>
<div>CROSS-LIST: {{ cross_list }}</div> -->
</body>
</html>