body {
        text-align: center;
    }
button.accordion {
    border-bottom: 1px solid darkgrey;
    cursor: pointer;
    padding: 18px;
    color:#444;
    width: 250px;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 15px;
    margin-bottom: 7px;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
    color:red;
}

.act {
    background-color:lightgray;
}

.pasv {
    background-color: #eee;
}

.panel {
    background-color: white;
    display: inline-block;}

ul.inside {
    display: none;
    list-style-type: none;
    padding-left: 35px;
    text-align: left;
    margin-top:0px;
}


.big {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
  /*  -webkit-column-count: 3; /* Chrome, Safari, Opera */
/*   -moz-column-count: 3; /* Firefox */
 /*  column-count: 3; */
 }

.server_column {
    width:250px;
    display: inline-block;
    vertical-align: top;
}


.footer {
    margin: 0 auto;
    width:170px;
    }

.ul-auth {
   list-style-type: none;
    text-align: right;
}

.ul-auth a {
    color:black;
}

.top-bar {
}

.media-object-section {
}


.title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/* Title pulsation */
.pulsate {
    -webkit-animation: pulsate 5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.1;
    color:black;
    font-size: 2em;
    font-weight: bold;

}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}


.login_form {
    display:inline-block;
    margin-top:150px;
    margin-bottom:5px;
    margin-left: auto;
    margin-right:auto;
    padding:5px 8px;
    float:right;
    margin-right:10px;
}


.logout_btn {
    color:red;
    font-weight: bold;
    border-radius: 15px;
}

