{% load staticfiles %}
<!DOCTYPE html>
<html>
 <head>
  <title>Image Uploader</title>
     <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}">
 </head>
 <body>
{% block login %}
 <div class=".large-offset-3 .large-6 .columns">
     <form action="/auth/login/" method="POST">
          {% csrf_token %}
         <label for="username">Имя пользователя</label>
         <input type="text" name="username" id="username">
         <label for="password">Пароль</label>
         <input type="password" name="password" id="password">
         {% if login_error %}
           <label class="error">{{login_error}}</label>
         {% endif %}
         <input class="button" type="submit" value="Войти">
         <div class=".link"><a href="/auth/register/">Регистрация</a></div>
         </form>
     </div>
{% endblock %}

 </body>
</html>