<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>SSID SWITCHER</title>
    <meta charset="utf-8">
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css" >
    <script src="{% static 'jquery-3.1.1.min.js'%}"></script>
    <meta http-equiv="refresh" content="120">
<style>
button.accordion {
    background-color: #eee;
    border-bottom: 1px solid darkgrey;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 220px;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    text-align: center;
    margin-left: 5px;
    border-radius: 15px;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

.panel {
    background-color: white;
    display: inline-block;}

ul.inside {
    display: none;
    list-style-type: none;
    padding-left: 35px;
    position: relative;
}

.big {
    width: 460px;
    margin-left: auto;
    margin-right: auto;  }

.footer {
   text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:170px;
    border:1px solid red;
    }

</style>
</head>

<body>
<div class="big">
<h2 style="text-align: center">Select server</h2>

{% for k,i in servers %}
 <div class="panel">
       <button class="accordion">{{ i }}</button>
       <ul class="inside">
              <li><a style="color:red;font-size: 14px;text-decoration: underline;" href="http://{{ i }}">http://{{ i }}</a></li>
              {% for j in latest %}
                  {% if j.web == i %}
                      {% if j.status %}
                       <li><input type="checkbox" id="{{ j.name }}" name='ssid' value="{{ j.name }}" checked onclick="update_ssidlist(this)"/><a style="text-decoration: none;color:black" href="/ssid/{{ j.name }}"><span class="{{ j.name }}">{{ j.name }}  </span></a></li>
                               {% else %}
                       <li><input type="checkbox" id="{{ j.name }}" name='ssid' value="{{ j.name }}" onclick="update_ssidlist(this)"/><a style="text-decoration: none;color:black" href="/ssid/{{ j.name }}"><span class="{{ j.name }}">{{ j.name }}  </span></a><br></li>
                       {% endif %}
                 {% endif %}
              {% endfor %}
       </ul>
 </div>
{% endfor %}


<div class="footer">

<input type="checkbox" name="Timer" style= "display: none" id="timercheckbox" onclick="update_timer(this)">
<label style="display: none;" id="time_label" for="timercheckbox">Timer(in seconds):</label>
<input style="display: none" type="text" id="timer" placeholder="default 1800 seconds (30m)" name="timer" pattern="[0-9]{4}">

<input style="width:100px;color:red;font-size:18px;font-weight:bold;display:none;border-radius: 30px;" type="button" id="Run" onClick="run()" value="Run"/> <br>
<img id="loading" src="{% static 'InternetSlowdown_Day.gif' %}" style="width:60px;height:60px;display: none">
<div id="success" style="display: none;color:green"><span id="status_message">Success</span></div>
<span style="display: none;color: red" id="no_one_chosen">Please, choose at least one ssid</span>
<div id="errors" style="display: none"></div>

</div>
</div>





<script language="JavaScript">


var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
}




function update_timer(timer) {
    if (timer.checked){
        console.log('Timer is checked')
        $("#timer").css('display','block');
    }
    else {
        console.log('Timer is unchecked')
        $("#timer").css("display","none")
    }
}

$(document).ready(function(){
 $('span').mouseenter(function(){
        $(this).fadeTo('fast', 0.5);
   });
$('span').mouseleave(function(){
        $(this).fadeTo('fast', 1);
    })});

timer=1800
$( "#timer" ).keyup(function() {
    timer = $( this ).val()})


{% autoescape off %}
ssidlist={{ all_up_ssids }}
{% endautoescape %}



up_new=[];
down_new=[];
ip=[]
ssid_status=[]

    function update_ssidlist(ssid) {
    //$('span.'+ssid.id).animate({opacity: 1}, 700 );
    ip.push(ssid.name)
    if (ssid.checked) {
        if (!ssidlist.includes(ssid.id)) {
            $('span.'+ssid.id).css({color:'green',opacity: 0.2}).animate({opacity: 1}, 700 );
            up_new.push(ssid.id)
            ip.push(ssid.ip)
            $('#Run').css('display','block');
            $('#time_label,#timercheckbox').css('display','inline-block');
        }
        else {
            index = down_new.indexOf(String(ssid.id));
            down_new.splice(index, 1);
            //$('span.'+ssid.id).append( "<strong style='color:red'>  <--Already ENABLED</strong>" );
            $('span.'+ssid.id).css({color:'black',opacity: 0.2}).animate({opacity: 1}, 700 );
            console.log(ssid.id+' already UP ')
            //console.log(up_new.length,down_new.length)
            if (up_new.length === 0 && down_new.length === 0) {
            $('#Run').css('display','block');
            $('#timer,#time_label,#timercheckbox').css('display','none');
     }
        }
}
     else {
        if (ssidlist.includes(ssid.id.toString())) {
            $('span.'+ssid.id).css({color:'red',opacity: 0.2}).animate({opacity: 1}, 700 );
            down_new.push(ssid.id)
            $('#Run').css('display','block');}

        else {
            index = up_new.indexOf(ssid.id);
            up_new.splice(index,1)
            //$('span.'+ssid.id).append( "<strong style='color:red'>  <--Already Disabled</strong>" );
            $('span.'+ssid.id).css({color:'black',opacity: 0.2}).animate({opacity: 1}, 700 );
            console.log(ssid.id+ " already DOWN ")
            //console.log(up_new.length,down_new.length)
        if (up_new.length === 0 && down_new.length === 0) {
            $('#Run').css('display','none')}
        if (up_new.length==0) {
                $('#timer,#time_label').css('display','none');
            }

        }

    }
  //set= new Set(ip)
  //console.log("New Down: "+down_new+" New Up: "+up_new);
  }



function run() {
    all_new=up_new+down_new
           if (all_new[0] != null) {
           interval=1000
           $("input[name='ssid']" ).attr('disabled', true);
           $("#Run").css('display','none') ;
           $("#loading").css('display','inline-block');

    console.log("Sending POST by ajax");
            $.ajax({
            url : "ssid_update/",
            type : "POST",
            data : { up : JSON.stringify(up_new), down:JSON.stringify(down_new),timer:timer }, // data sent with the post request

        // handle a successful response

            success : function(json) {
            clearInterval(check_status)
            ssidlist=JSON.stringify(json.all_up_ssids)   //all this array is one string element
            for (var i=0, n=ssid_status.length;i<n;i++) {
                $( "span."+ssid_status[i] ).html(ssid_status[i]);
            }
            timer=1800
            ssid_status=[]
            up_new=[]
            down_new=[]
            all_new=[]
            ip=[]
            $('#timer').val('');
            $("#loading").css('display','none');
            $("input[name='ssid']" ).attr('disabled', false);
            $('span').css({color:'black',opacity: 1});
            $("#success").fadeIn("slow").delay( 800 ).fadeOut("slow");
            $("#Run,#timer,#time_label").fadeOut("slow");
            $('#errors').fadeIn("slow").text('Connection timeout: '+json.errors)
            console.log('Connection timeout: '+JSON.stringify(json.errors))
            console.log('Success')
        },

        // handle a non-successful response
            error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    })

               check_status =  setInterval( function(){
               $.get("/ssid_status/", function(data) {
                   data=data.ssid_status
                if (data.length > null){
                   for(var i=0, n=data.length;i<n;i++) {
                       console.log('SSID_STATUS='+ssid_status)
                       if (!ssid_status.includes(data[i])) {
                       $( "span."+data[i] ).html(data[i]+"<span style='color:blue'>  ok  </span>").fadeIn("slow");
                       ssid_status.push(data[i])
                       }
                       else {console.log('Status already set')}
                       }}
                else {console.log('Not ready')}
            });
 } , 1000)
               console.log('Next one1')}

else {
           $('#no_one_chosen').fadeIn("slow").delay( 1500 ).fadeOut("slow");
            console.log('No one ssid was chosen')
           }
}

</script>

</body>
</html>