<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>SSID SWITCHER</title>
    <meta charset="utf-8">
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css" >
    <script src="{% static 'jquery-3.1.1.min.js'%}"></script>
   <!-- <script src="{% static 'main.js' %}"></script> -->

</head>

<body>

<!--
    {% for i in latest %}
        {% if i.status %}
        <input type="checkbox" id="{{ i.name }}" name='ssid' value="{{ i.name }}" checked>{{ i.name }}<br>
        {% else %}
         <input type="checkbox" id="{{ i.name }}" name='ssid' value="{{ i.name }}">{{ i.name }}<br>
        {% endif %}
    {% endfor %}
    <hr>
-->
{% for k,i in servers %}
 <div style="color:red;font-size: 14px;text-decoration: underline">{{ i }}</div>
  <!--  <input type="checkbox" name='{{ i }}' onClick="select_all(this)" /> Select all<br/> -->
     {% for j in latest %}
        {% if j.web == i %}
           {% if j.status %}
                 <input type="checkbox" id="{{ j.name }}" name='ssid' value="{{ j.name }}" checked onclick="update_ssidlist(this)"/><span class="{{ j.name }}">{{ j.name }}  </span><br>
                         {% else %}
                 <input type="checkbox" id="{{ j.name }}" name='ssid' value="{{ j.name }}" onclick="update_ssidlist(this)"/><span class="{{ j.name }}">{{ j.name }}  </span><br>
           {% endif %}
        {% endif %}
     {% endfor %}
               <br>
<!--
<script language="JavaScript">
   function ch_{{ k }}(source) {
   checkboxes = document.getElementsByName('{{ i }}');
   for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
    update_ssidlist(source.id)
  }
}
</script> -->


{% endfor %}
<input style="width:100px;color:red;font-size:18px;font-weight:bold;" type="button" id="Run" onClick="run()" value="Run"/> <br>
<img id="loading" src="{% static 'InternetSlowdown_Day.gif' %}" style="width:60px;height:60px;display: none">
<div id="success" style="display: none;color:green">Success</div>


<!-- Select all checkbox

<script language="JavaScript">
    function select_all(source) {
   checkboxes = document.getElementsByName(source.name);
   for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
    if (checkboxes[i].checked) {
        console.log('ON: '+checkboxes[i].id)
    }
       else {console.log('OFF')}
       //update_ssidlist1(checkboxes[i])
  }
}
</script>
-->



<script language="JavaScript">

$(document).ready(function(){
 $('span').mouseenter(function(){
        $(this).fadeTo('fast', 0.5);
   });
$('span').mouseleave(function(){
        $(this).fadeTo('fast', 1);
    })});

{% autoescape off %}
ssidlist={{ all_up_ssids }}
{% endautoescape %}
console.log('Initial SSIDLIST='+ssidlist)
//console.log(up_new)
//console.log(down_new)
//console.log("SSID LIST= "+ssidlist)
up_new=[];
down_new=[];
ip=[]
    function update_ssidlist(ssid) {
        console.log('UPDATE_SSID func started, ssidlist='+ssidlist+' SSID id='+ssid.id+' up_new='+up_new+' down_new= '+down_new)
    //$('span.'+ssid.id).animate({opacity: 1}, 700 );
    ip.push(ssid.name)
    if (ssid.checked) {
        if (!ssidlist.includes(ssid.id)) {
            $('span.'+ssid.id).css({color:'green',opacity: 0.2}).animate({opacity: 1}, 700 );
            up_new.push(ssid.id)
            ip.push(ssid.ip)
        }
        else {
            index = down_new.indexOf(String(ssid.id));
            down_new.splice(index, 1);
            //$('span.'+ssid.id).append( "<strong style='color:red'>  <--Already ENABLED</strong>" );
            $('span.'+ssid.id).css({color:'black',opacity: 0.2}).animate({opacity: 1}, 700 );
            console.log(ssid.id+' already UP '+ssidlist)}
}
     else {
        console.log('Unchecked, ssidlist='+ssidlist+' ssid id='+ssid.id+' Type of ssid.id='+typeof ssid.id+'type of ssidlist[0]='+typeof ssidlist[0]+'ssidlist[0]='+ssidlist[0]+' ssid.id includes in ssidlist '+ssidlist.includes(ssid.id))
        if (ssidlist.includes(ssid.id.toString())) {
            $('span.'+ssid.id).css({color:'red',opacity: 0.2}).animate({opacity: 1}, 700 );
            down_new.push(ssid.id)}
        else {
            index = up_new.indexOf(ssid.id);
            up_new.splice(index,1)
            //$('span.'+ssid.id).append( "<strong style='color:red'>  <--Already Disabled</strong>" );
            $('span.'+ssid.id).css({color:'black',opacity: 0.2}).animate({opacity: 1}, 700 );
            console.log(ssid.id+ " already DOWN "+ssidlist)}


    }
  //set= new Set(ip)
  console.log("New Down: "+down_new+" New Up: "+up_new);
  }



function run() {
            //console.log($('#wcm_prod_cisco').val())
           if (up_new || down_new) {
           $("input[name='ssid']" ).attr('disabled', true);
           $("#Run").css('display','none') ;
           $("#loading").css('display','inline-block');

    console.log("Sending POST by ajax");
            $.ajax({
            url : "/",
            type : "POST",
            data : { up : JSON.stringify(up_new), down:JSON.stringify(down_new) }, // data sent with the post request

        // handle a successful response
            success : function(json) {
            //console.log(json); // log the returned json to the console
            ssidlist = Object.values(json);
            up_new=[]
            down_new=[]
            ip=[]
             // another sanity check
            $("#loading").css('display','none');
            $("input[name='ssid']" ).attr('disabled', false);
             $('span').css({color:'black',opacity: 1});
            //$("#success").css('display','inline-block');
             $("#success").fadeIn("slow").delay( 800 ).fadeOut("slow");
             $("#Run").fadeIn("slow");//.fadeIn("slow").delay( 800 ).fadeOut("slow").fadeIn("slow").attr('value','Run');

              //  $("#success").css('display','inline-block');
                console.log("success");
                console.log('ajax SSID list='+ssidlist)
                //console.log(ssidlist);

        },

        // handle a non-successful response
            error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    })}
else {
               console.log('No one ssid was chosen')
           }
};


</script>



<!--
<script>

    $(document).ready(function(){
{% for i in latest %}
    $('#{{ i.name }}').change(function() {
            if($(this).is(':checked')){
            console.log("CCCCheckeddddddd");
            up('{{ i.name }}');
       }
        else
            {
                console.log("UNCheckeddddddd");
                down('{{ i.name }}');
}})
{% endfor %}


    </script>
-->


<!--
        function up(name) {
            //console.log($('#wcm_prod_cisco').val())
            console.log("Enable " +name+ " SSID: Sending POST by ajax");
            $.ajax({
            url : "/",
            type : "POST",
            data : { ssid : name, status:'up' }, // data sent with the post request

        // handle a successful response
            success : function(json) {
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
            error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    })};


function down(name) {

            //console.log($('#wcm_prod_cisco').val())
            console.log("Disable " +name+ " SSID: Sending POST by ajax");
            $.ajax({
            url : "/",
            type : "POST",
            data : { ssid : name, status:'down' }, // data sent with the post request

        // handle a successful response
            success : function(json) {
           console.log(json); // log the returned json to the console
            console.log("Frontend: SSID switched successfully!"); // another sanity check
       },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    })};


    </script>
    <!--
<div>POST-DATA: {{ data }}</div>
<div>ALL-LIST: {{ all_list }}</div>
<div>CROSS-LIST: {{ cross_list }}</div> -->
</body>
</html>